@use "../abstracts/" as *;

.uppercase {
	text-transform: uppercase;
}

.text-center {
	text-align: center;
}

@each $screen-size, $size-map in $font-sizes {
	@each $size-name, $size-value in $size-map {
		@if $screen-size == small {
			.fs-#{$size-name} {
				// font-size: var(--fs-#{$size-name});
				font-size: #{$size-value};
			}
		}
	}
}

.regular {
	font-weight: $fw-default;
}

.semi-bold {
	font-weight: $fw-semibold;
}

.bold {
	font-weight: $fw-bold;
}
